<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85795142263-hggkfq9edb9sfi5vbdhq5ei0d8a42rkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85795142263-hggkfq9edb9sfi5vbdhq5ei0d8a42rkc</string>
	<key>API_KEY</key>
	<string>AIzaSyAr15D28VbU3N0nRb4uGyw00mbAQ4n9KPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>85795142263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tikitakaaps.SwiftUI-ScrollableList</string>
	<key>PROJECT_ID</key>
	<string>switui-scrollable</string>
	<key>STORAGE_BUCKET</key>
	<string>switui-scrollable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85795142263:ios:34bc8c8108c1d89f986472</string>
</dict>
</plist>